<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap.min.css" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap-table.css" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap-table-filter.css" />
  
  <script src="__PUBLIC__/jslib/jquery/jquery.min.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap.min.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap-table-filter.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/bs-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/plugin-bs-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/bootstrap-table-zh-CN.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/tableExport.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/html2canvas.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/exportPlugin.js"></script>
  <script>
  	var getDataURL = '__APP__/Home/Comp/getCompItem';
  </script>
  
</head>

<body style="background-color: #fff">
  <div style="margin:10px 15px 15px;">
    <div id="filter-bar"> </div>
    <table id="comp-table" 
           data-url="__URL__/getCompInfo"
           data-toolbar="#filter-bar" 
           data-show-toggle="true" 
           data-search="true"           
           data-show-filter="true"
           data-striped="true"
           data-sort-name="apply_state"
           data-click-to-select="true" 
           data-sort-order="desc"
           data-show-export="true"
           >
           
           
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="comp_name" data-width="250" data-align="left" data-sortable="true" data-sorter="starSorter" >竞赛名称</th>
          <th data-field="comp_item_name" data-width="400" data-align="left">项目名称</th>
          <th data-field="comp_date" data-width="80" data-align="center" data-sortable="true">申报时间</th>
          <th data-field="comp_author1" data-width="80" data-align="left">第一作者</th>
          <th data-field="apply_department" data-width="200" data-align="center">申报院系</th>
          <th data-field="comp_prize" data-width="100" data-align="center">审批情况</th>
          <th data-field="apply_detail" data-width="50" data-align="center">详细查看</th>
        </tr>
      </thead>
    </table>
  </div>
  <script src="__PUBLIC__/js/Comp/Comp.js"></script>
</body>

</html>