<!doctype html>
<html lang="en">
<head>
  <meta name="renderer" content="webkit">
  <meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
  <meta charset="utf-8" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap.min.css" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap-table.css" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap-table-filter.css" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/jsLib/myAlert/myAlert.css"/>
  
  
  <script src="__PUBLIC__/jslib/jquery/jquery.min.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap.min.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap-table-filter.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/bs-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/plugin-bs-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/bootstrap-table-zh-CN.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/tableExport.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/html2canvas.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/exportPlugin.js"></script>
  <script src="__PUBLIC__/jsLib/myAlert/myAlert.js"></script>
  <script>
	var admin = "{$admin_access}";
	var state = "{$state}";
  </script>
  
</head>

<body style="background-color: #fff">
  <div id="custom-toolbar"  style="width:655px;">
  	<div class="btn-group" style="float:right;margin-right:5px;">
	   <button type="button" class="btn btn-default dropdown-toggle" 
	      data-toggle="dropdown">
	      勾选项附件下载<span class="caret"></span>
	   </button>
	   <ul class="dropdown-menu" role="menu">
	      <li><a href="#" id="downloadApply" onclick="btnOnClick(this.id)">批量下载报名表</a></li>
	      <li><a href="#" id="downloadFinal" onclick="btnOnClick(this.id)">批量下载作品</a></li>
	   </ul>
	</div>	<!-- btn-group 的/div -->
	
	
  	<div class="btn-group" style="float:right;">
	   <button type="button" class="btn btn-default dropdown-toggle" 
	      data-toggle="dropdown">
	      审批勾选项<span class="caret"></span>
	   </button>
	   <ul class="dropdown-menu" role="menu">
	      <li><a href="#" data-toggle="modal" data-target="#judgeModal" id="approved" onclick="btnOnClick(this.id)">通过</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#judgeModal" id="disapproved" onclick="btnOnClick(this.id)">未通过</a></li>
	   </ul>
	</div>	<!-- btn-group 的/div -->
	
  	<div class="btn-group" style="float:right;">
	   <button type="button" class="btn btn-default dropdown-toggle" 
	      data-toggle="dropdown">
	      勾选项授奖<span class="caret"></span>
	   </button>
	   <ul class="dropdown-menu" role="menu" >
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="country1" onclick="btnOnClick(this.id)">全国一等奖</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="country2" onclick="btnOnClick(this.id)">全国二等奖</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="country3" onclick="btnOnClick(this.id)">全国三等奖</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="city1" onclick="btnOnClick(this.id)">省市一等奖</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="city2" onclick="btnOnClick(this.id)">省市二等奖</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="city3" onclick="btnOnClick(this.id)">省市三等奖</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="school1" onclick="btnOnClick(this.id)">校级一等奖</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="school2" onclick="btnOnClick(this.id)">校级二等奖</a></li>
	      <li><a href="#" data-toggle="modal" data-target="#prizeModal" id="school3" onclick="btnOnClick(this.id)">校级三等奖</a></li>
	      
	   </ul>
	</div>	<!-- btn-group 的/div -->
  </div>
  <div style="margin:10px 15px 15px;">
    <div id="filter-bar"> </div>
    <table id="comp-table" 
           data-url="__URL__/showAllCurrentItem"
           data-toolbar="#custom-toolbar"
           data-show-toggle="true" 
           data-search="true"           
           data-show-filter="true"
           data-sort-name="apply_state"
           data-click-to-select="true" 
           data-sort-order="desc"
           data-show-export="true"
           data-show-columns="true"
    	   >           
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true" style="vertical-align: middle"></th>
          <th data-field="comp_item_id" data-align="center" data-valign="middle" data-sortable="true" data-order="asc">ID</th>
          <th data-field="comp_name" data-width="200" data-valign="middle">竞赛名称</th>
          <th data-field="comp_item_name" data-width="230" data-valign="middle">项目名称</th>
          <th data-field="apply_academy" data-width="150" data-align="center" data-valign="middle">第一作者院系</th>
          <th data-field="comp_author1"  data-align="center" data-valign="middle">第一作者</th>
          <th data-field="comp_authorphone"  data-align="center" data-valign="middle">一作手机</th>
          <th data-field="comp_prize" data-align="center" data-valign="middle">竞赛名次</th>
          <th data-field="comp_date" data-align="center" data-visible="false" data-valign="middle">申报时间</th>
          <th data-field="comp_state"  data-align="center" data-valign="middle">审批情况</th>
          <th data-field="apply_state"  data-align="center" data-valign="middle">报名</th>
		  <th data-field="final_state"  data-align="center" data-valign="middle">作品</th>
          <th data-field="comp_type_id" >comp_type_id</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- 模态框（judgeModal） -->
	<div class="modal fade" id="judgeModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" 
	               aria-hidden="true">×
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	              	提示
	            </h4>
	         </div>
	         <div class="modal-body">
	            您确定进行此审批操作么？
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	            <button type="button" class="btn btn-primary" id='judgeConfirm' data-dismiss="modal" onclick="btnOnClick(this.id)">
	               提交更改
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  <!-- 模态框（prizeModal） -->
	<div class="modal fade" id="prizeModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" 
	               aria-hidden="true">×
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	              	提示
	            </h4>
	         </div>
	         <div class="modal-body">
	            您确定进行此获奖提交的操作么？
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	            <button type="button" class="btn btn-primary" id='prizeConfirm' data-dismiss="modal" onclick="btnOnClick(this.id)">
	               提交更改
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  <div class='messagePopOut' style='display:none'>
         	<div class='messagePopText'>
         		
         	</div>
         	<div class='messagePopButton'>
         		OK
         	</div>        	
   </div>	
  <script src="__PUBLIC__/js/Admin/CurrentItem.js"></script>
  <script>var competitionChange_url = "__URL__/judgeItem";</script>
  <script>var groupDownload_url = "__URL__/groupDownload";</script>
</body>

</html>