<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ECNU Inspiration</title>
        <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
        <!-- <link rel="shortcut icon" href="favicon.ico"> -->
		<link rel="bookmark"  type="image/x-icon"  href="__PUBLIC__/img/favicon.ico">
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/nav.css" /> 
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/Person.css" />
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/radios.min.css" />
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/jsLib/jquery_ui/jquery-ui.css"/>   
        <link href="__PUBLIC__/css/icheck/flat/blue.css" rel="stylesheet">
        <link href="__PUBLIC__/css/icheck/line/blue.css" rel="stylesheet">
        <script src="__PUBLIC__/jsLib/jquery/Chart.js"></script>
        <script src="__PUBLIC__/jsLib/jquery/modernizr.js"></script>
        <script src="__PUBLIC__/jsLib/jquery/jquery.min.js"></script>
        <script src="__PUBLIC__/jsLib/jquery_ui/jquery-ui.js"></script>
        <script src="__PUBLIC__/jsLib/jquery/jquery.icheck.js"></script>
        <script src="__PUBLIC__/jsLib/jquery/jquery.mixitup.min.js"></script>
        <script src="__PUBLIC__/jsLib/raty-2.7.0/lib/jquery.raty.js"></script>

		<script type="text/javascript">
        	var public_url = "__PUBLIC__";
        	var model_url = "__URL__";
        	var app_url = "__APP__";
    		var starOnIcon = "__PUBLIC__/jsLib/raty-2.7.0/lib/images/star-on.png"
    		var starOffIcon = "__PUBLIC__/jsLib/raty-2.7.0/lib/images/star-off.png"
    		var starHalfIcon = "__PUBLIC__/jsLib/raty-2.7.0/lib/images/star-half.png"	
        </script>
        <!--<script src="/HtmlJS/Page.js"></script>-->
    </head>

    <body">
	    <div class="Part">
		   	<div class="homeHead">
			    <!-- <div id="logo">
				     <div id="logo_1">ECNU</div>
				     <div id="logo_2">华师</div>
				     <div id="logo_3">人才项目智库</div>
			    </div> -->
			    <ul>
				    <li id="left-li">
					    <a href="__APP__/Home/Home/home"><img alt="Logo" src="__PUBLIC__/img/logo.png"></a>
				    </li>
				    <li id="right-li">
					    <ul id="sub-right-ul">
						    <li id="welcome-user">
						    </li>
						    <li id="exit-icon">
						    	<a href="__APP__/Home/Index/index.html"><img alt="Exit" src="__PUBLIC__/img/icon/exit.png" title="退出登录"></a>
						    </li>
					    </ul>
				    </li>
			    </ul>
		   </div>
		    <div class="Part_inner clearfix">
		       <div class="nav">
		           <p>功能列表</p>
		           <a href="#main" id="btn_main" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/home.png" alt="error"></div>个人首页</a>
		           <a href="#ability" id="btn_ability" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/ability.png" alt="error"></div>个人能力</a>
		           <a href="#information" id="btn_info" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/down.png" alt="error"></div>信息管理</a>
		           <div class="info_child">
		             <a href="#base_info" id="btn_base_info" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/base.png" alt="error"></div>基本信息</a>
		            
		             <a href="#safe" id="btn_safe" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/safe.png" alt="error"></div>安全设置</a>
		           </div>
		           <a href="#competitions" id="btn_comp" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/apply.png" alt="error"></div>竞赛报名</a>
		           <a href="#projects" id="btn_pro" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/prjinfo.png" alt="error"></div>项目信息</a>
		           <a href="#find" id="btn_find" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/find.png" alt="error"></div>寻找队友</a>
		           <a href="#help" id="btn_help" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/help.png" alt="error"></div>发布求助</a>
		       </div>
		       <div class="info_container">
		       </div>		       
		    </div>
	    </div>
	    <div class="homeBottom">
		       		联系我们|智库团队版权所有 ©2015-2016
		</div>
	    <script src="__PUBLIC__/js/home/User.js"></script>
    </body>

</html>