<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search People</title>
<link href="__PUBLIC__/css/searchPeople.css" rel="stylesheet">
<script>
  $(function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
</script>
</head>
<body>
	<div class="ui-widget">
  		<input id="tags" class="typeSearch" type="text" placeholder="输入目标伙伴的能力关键词">
  		<input type="button" value="添加搜索条件" class="addConstraint">
	</div>
 
</body>
</html>