<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search People</title>
<link href="__PUBLIC__/css/searchPeople.css" rel="stylesheet">
<script>
  $(function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
</script>
</head>
<body>
	<form class="searchPeopleForm">
	<div class="ui-widget searchPeoplePart1">
  		<input id="tags" class="typeSearch" type="text" placeholder="输入目标伙伴的能力关键词">
  		<input type="button" value="添加搜索条件" class="addConstraint">
	</div>
	<div class="searchPeoplePart2">
		<div class="s-title">
			<p><b>寻找伙伴  </b> 添加搜索条件</p>
		</div>
		<div class="searchPeoplePart2Row" id="searchPeoplePart2Row1">
			<div class="searchPeoplePart2C1">选择领域</div>
		</div>
	</div>
	</form>
	
 
</body>
</html>