Options +FollowSymlinks
<IfModule mod_rewrite.c>
  <Files *.php>
    AcceptPathInfo On
  </Files>
  RewriteEngine On  
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)Public/(.*)$ $1Public/$2 [NC,L]
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>