<!DOCTYPE html>
<html>
<head>
  <meta name="renderer" content="webkit">
  <meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
  <meta charset="UTF-8">
  <title>Personal photo</title>
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/Personalphoto.css" />
  <link rel='Stylesheet' type='text/css' href='__PUBLIC__/jsLib/jquery/Jcrop/jquery.Jcrop.min.css'>
  <script src="__PUBLIC__/jsLib/jquery/jquery.min.js"></script>
  <script src="__PUBLIC__/jsLib/jquery/ajaxfileupload.js"></script>
  <script type="text/javascript" src="__PUBLIC__/jsLib/jquery/cropbox.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/home/InitPersonalPhoto.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/jsLib/SweetAlert/sweetalert.css" type='text/css'>
	<script type="text/javascript" src="__PUBLIC__/jsLib/SweetAlert/sweetalert.min.js"></script>
  <script type="text/javascript">
  	var modelUrl = "__URL__";
  </script>
</head>

<body>
	<div class='title_box'>
	  <div style="display:inline-block;width:15px;height:15px;">
	    <img style="width:15px;height:15px;margin-left:-10px;" src ="__PUBLIC__/img/icon/base.png">
	  </div>
	    个人照片上传
	</div>
  	  <div class='Page-box clearfix' id='Page2'>
    
    <div class='head' >
      <p>个人头像管理</p>	
    </div>
    
    <div class='form-box' >
      <div class='Old'>
        <p>当前使用</p>
        <div class='photo' style='width: 120px;height: 120px;margin: 0 auto;'>
          <img src='__PUBLIC__/img/photo/{$photo_id}/face.png?timeTmp={$time}' alt='照片载入失败' style="width:100%;height:100%">
        </div>	        
      </div>
      
      <div class='New'>
        <div class="container">
		  <div class="imageBox">
		    <div class="thumbBox"></div>
		    <div class="spinner" style="display: none"></div>
		  </div>
		  <div class="action"> 
		    <!-- <input type="file" id="file" style=" width: 200px">-->
		    <div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img">
		      <label for="upload-file">选择图片</label>
		      </a>
		      <input type="file" name="upload-file" id="upload-file" style="cursor: pointer"/>
		    </div>
		    <input type="button"  id="btnOK"  class="Btnsty_peyton" value="OK">
		    <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
		    <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
		  </div>
		</div>
      </div>
    </div>
	<div class="help">
      <p style="text-align: center; color: #bb0000; font-weight: 600;">头像上传说明</p>
      <p style="color: #333;"><span>※</span> 您可以在选择图片完成后进行裁剪操作</p>
      <p style="color: #333;"><span>※</span> 严禁使用违规违法图片</p>
    </div>
  </div>
</body>
</html>