@CHARSET "UTF-8";
      
.homeHead{
	width: 100%;
	min-width: 1190px;
	height: 70px;
	float: left;
	margin: 0;
	padding: 0;
    
	background-color: rgba(255,255,255,1);
    opacity: 0.9;
}
.homeHead > ul{
	list-style: none;
	width: 1190px;
	margin: 0 auto;
	padding: 0;
}
#left-li{
	position: relative;
	float: left;
	margin: 0px auto;
	padding-top: 10px;
	display: inline-flex;
}
.homeHeadLogoText{
	margin-left: 10px;
}
#left-li h1{
	color: #363d40;
	font-size: 25px;
	display: inline;
	text-align: left;
	font-family: 微软雅黑;
}
#left-li h1 span{
	color: #363d40;
	font-size: 20px;
	display: block;
	text-align: left;
	font-weight: 400;
	line-height: 20px;
}
#right-li{
	position: relative;
	float: right;
	margin: 0 auto;
	padding-top: 10px;
}
#sub-right-ul{
	list-style: none;
	width: auto;
	min-width: 170px;
	margin: 0 auto;
	padding: 0;
}
#welcome-user{
	position: relative;
	float: left;
	margin: 0 auto;
	padding-top: 10px;
	color: black;
	font-family: 微软雅黑;
	font-size: 20px;
	font-weight: 600;
}
#welcome-user span{
	color: #00aaee;
}
#exit-icon{
	position: relative;
	float: right;
	margin: 0 auto;
	padding-top: 10px;
	margin-left: 10px;
}