  body{
      color: #45484d;
      /*background:#fff url(../img/homeBG.jpg) no-repeat;*/
      background-image:url(../img/homeBG.jpg);
	  background-repeat:no-repeat;
	  background-attachment:fixed;      
	  /*background-color: #188989;*/
      margin: 0px;
      padding: 0px;
      overflow: auto;
  } 
  .nav{
      top: 20px;
      width: auto;
      height: auto;
      float: left;
      border-width: 1px;
      border-style: solid;
      border-color: #000 ;
      position: relative;
      display: inline-block; 
      border-radius: 4px;
   }
  .nav a{
      text-decoration: none;
      padding: 12px 10px 3px 10px;
      height: 30px;
      width: 130px;
      font-family: "Œ¢»Ì—≈∫⁄";
      font-size: 15px;
      font-weight: 400;
      line-height:20px;
      border: none;
      display: block;
      letter-spacing: 4px;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }
  
    .nav p{
      margin: 0px 0px auto;
      background-color: #f0f0f0;
      color: #45484d;
      text-decoration: none;
      text-align: center;
      padding: 4px 15px 1px 5px;
      height: 15px;
      width: 130px;
      font-family: "Œ¢»Ì—≈∫⁄";
      font-size: 10px;
      font-weight: 300;
      border-bottom: 1px solid #ddd;
      display: block;
      letter-spacing: 2px;
  }
  
  .nav a.clickble{
      background-color: #fff;
      color: #45484d;
  }
  
  .nav .icon{
      height: 15px;
      width: 15px;
      min-height: 15px;
      min-width: 15px;
      display: inline-block;
      float: left;
      margin: 0px 10px 0px 5px;
  }
  
  .nav .icon img{
      height: 15px;
      width: 15px;
  }
  
  .info_child{
      border-top: 1px;
      border-bottom: 1px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-style: solid;
      border-color: #ddd; 
      display: none;
      -moz-transition: color backgroud-color 0.2s ease-in-out;
      -o-transition: color backgroud-color 0.2s ease-in-out;
      -webkit-transition: color backgroud-color 0.2s ease-in-out;
      transition: color backgroud-color 0.2s ease-in-out;
  }
  .info_child a{
      width: 120px;
      padding: 12px 5px 3px 25px;
      font-size: 14px;
      letter-spacing: 1px;
  }
  .info_child a.clickble{
      background-color: #f5f5f5;
      color: #45484d;
  }
  .info_child a.select{
      background-color: #2b99ce;
      color: #fff;
  }
  
.nav_child{
      border-top: 1px;
      border-bottom: 1px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-style: solid;
      border-color: #ddd; 
      display: none;
      -moz-transition: color backgroud-color 0.2s ease-in-out;
      -o-transition: color backgroud-color 0.2s ease-in-out;
      -webkit-transition: color backgroud-color 0.2s ease-in-out;
      transition: color backgroud-color 0.2s ease-in-out;
  }
.nav_child a{
      width: 120px;
      padding: 12px 5px 3px 25px;
      font-size: 14px;
      letter-spacing: 1px;
  }
.nav_child a.clickble{
      background-color: #f5f5f5;
      color: #45484d;
  }
.nav_child a.select{
      background-color: #2b99ce;
      color: #fff;
  }

  
  .nav a:hover{
      background-color: #f3f3f3;
  }
  
  .info_child a:hover{
      background-color: #dadada;
  }
  .nav_child a:hover{
      background-color: #dadada;
  }
  
  .nav a.select{
      background-color: #2b99ce;
      color: #fff;
  }
  


    #logo{
          min-width: 800px;
          text-align: left;
          display: block;
      }
    #logo_1{
          color: #b7d7e4;
          font-family: Arial;
          font-size: 40px;
          font-weight: bold;
          letter-spacing: 3px;
          display: inline; 
      }
    #logo_2{
          color: #b7d7e4;
          font-family: "ÂçéÊñáË°åÊ•∑";
          font-size: 20px;
          height: 30px;
          width: 20px;
          font-weight: bold;
          letter-spacing: 1px;
          display: inline-block;
      }     
    #logo_3{
          color: #fff;
          height: 40px;
          font-family: "Œ¢»Ì—≈∫⁄";
          font-size: 30px;
          font-weight: bold;
          letter-spacing:2px; 
      }
      #formbackground{
          margin: auto;
          height: auto;
          width: auto;
          z-index: -1;
          position: absolute;
      }
