@CHARSET "UTF-8";
html { overflow: scroll; }/*强制显示浏览器滚动条*/
body{
	font-family: 微软雅黑;
}
.typeSearch{
	margin: 0 auto;
	width: 450px;
	height: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: #2b99ce;
	
}
.addConstraint{
	height: 36px;
	background: #2b99ce;
	border: none;
	line-height: 1;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin-left: -6px;
	font-family: "微软雅黑";
}
.ui-widget{
	margin-top: 50px;
	margin-left: 220px;
}
.s-title {
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	background: #F1F1F1;
	line-height: 34px;
	height: 34px;
	overflow: hidden;
	zoom: 1;
	margin-top: 10px;
	font-size: 17px;
	padding-left: 25px;
}
.s-title p{
	font-size: 14px;
	font-familiy: "微软雅黑";
	display: inline;
}
.s-title p b{
	font-size: 1.2em;
	font-familiy: "微软雅黑";
	display: inline;
	color: #e60000;
	margin-right: 20px;
}
.searchPeoplePart2Row{
	position: relative;
	line-height: 34px;
	border-bottom: 1px solid #DDD;
	height: auto;
	width: 1030px;
	padding-left: 25px;

}
.searchPeoplePart2C1{
	width: 100px;
	padding-left: 25px;
	font-size: 14px;
	position: relative;
	display: inline-flex;
	line-height: 34px;
}
.searchPeopleTags{
	display: inline-table;
	margin-left: 25px;
}
.searchPeopleTag{
	display: inline-flex;
	width: auto;
	min-width: 80px;
	margin-right: 50px;
	font-size: 14px;
	line-height: 20px;
}
