@CHARSET "UTF-8";
html { overflow: scroll; }/*强制显示浏览器滚动条*/
body{
	font-family: 微软雅黑;
}
/*.typeSearch{
	margin: 0 auto;
	width: 450px;
	height: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: #2b99ce;	
}*/
.typeSearch{
	margin: 0 auto;
	width: 250px;
	height: 18px;
	border-style: solid;
	border-width: 2px;
	border-color: #aeabab;
	float: right;
	margin-right: 50px;
	margin-top: 4px;	
}
.addConstraint{
	height: 36px;
	background: #2b99ce;
	border: none;
	line-height: 1;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin-left: -6px;
	font-family: "微软雅黑";
}
.ui-widget{
	margin-top: 50px;
	margin-left: 220px;
}
.s-title {
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	background: #F1F1F1;
	line-height: 34px;
	height: auto;
	width: 1000px;
	zoom: 1;
	font-size: 17px;
	padding-left: 25px;
	vertical-align：middle;
}
.s-title p{
	font-size: 14px;
	font-familiy: "微软雅黑";
	display: inline;
}
.s-title p b{
	font-size: 1.2em;
	font-familiy: "微软雅黑";
	display: inline;
	color:#2b99ce;
	margin-right: 20px;
}
.searchPeoplePart2Row{
	position: relative;
	line-height: 34px;
	border-bottom: 1px solid #DDD;
	height: 200px;
	max-height: 200px;
	height: auto;
	overflow-y: scroll;
	width: 1000px;
	padding-left: 25px;

}
.searchPeoplePart2C1{
	width: 100px;
	padding-left: 25px;
	font-size: 14px;
	position: relative;
	display: inline-flex;
	line-height: 34px;
}
.searchPeopleTags{
	display: inline-table;
	margin-left: 25px;
}
.searchPeopleTag{
	display: inline-flex;
	width: auto;
	min-width: 80px;
	margin-right: 50px;
	font-size: 14px;
	line-height: 20px;
}
input[type=checkbox]+label{
	font-size: 14px;
}
.searchPeoplePart2RowHead{
	position: relative;
	line-height: 34px;
	height: auto;
	width: 1030px;
	padding-left: 25px;
	font-size: 14px;
}
.selectedTags{
	position: relative;
	display: inline-table;
}
.selectedTag{
	left: 0;
	top: 0;
	background-color: white;
	position: relative;
	width:auto;
	height:28px;
	border-style: solid;
	border-width: 1px;
	border-color: #9b9b9b;
	text-align: center;
	font-size: 14px;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 20px;
	padding-top: 0px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
	display: inline-flex;
	line-height: 28px;

	transition:all 0.2s ease-in-out ;
	-moz-transition:width 0.2s; /* Firefox 4 */
	-webkit-transition:all 0.2s ease-in-out; /* Safari and Chrome */
	-o-transition:width 2s; /* Opera */
}
.selectedTag:hover{
	border-color: #2b99ce;
}
