<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap.min.css" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap-table.css" />
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/bootstrap-table-filter.css" />
  
  <script src="__PUBLIC__/jslib/jquery/jquery.min.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap.min.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap-table-filter.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/bs-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/bootstrap-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/plugin-bs-table.js"></script>
  <script src="__PUBLIC__/jslib/bootstrap/ext/bootstrap-table-zh-CN.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/tableExport.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/html2canvas.js"></script>
  <script src="__PUBLIC__/jsLib/bootstrap/ext/exportPlugin.js"></script>
  
</head>

<body style="background-color: #fff">
  <div id="custom-toolbar"  style="width:700px">
    <span class='toolBarCompName' style='float:right'>|完成时间：</span>
  	<span class='toolBarFinishTime' style='float:right;margin-left: 10px;'>竞赛名称：</span>
  	
  	
  </div>
  <div style="margin:10px 15px 15px;">
  	<!-- <a href="#" onClick ="$('#comp-table').tableExport({type:'excel', escape:'false'});" id="buttonExportData" class="ui-btn ui-btn-inline ui-mini ui-shadow ui-corner-all">Export XLS</a> -->
    <div id="filter-bar"> </div>
    <table id="comp-table"   
    	   data-url="__APP__/Admin/HistoryItem/showAllHistoryItem"
    	   data-cache="false"
           data-toolbar="#custom-toolbar" 
           data-show-toggle="true" 
           data-search="true"           
           data-show-filter="true"
           data-striped="true"
           data-sort-name="apply_state" 
           data-sort-order="desc"
           data-pagination="true"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-show-export="true"
           >
      <thead>
        <tr>
          <th data-field="comp_name" data-width="250" data-align="left" data-sortable="true" data-sorter="starSorter" >竞赛名称</th>
          <th data-field="comp_item_name" data-width="400" data-align="left">项目名称</th>
          <th data-field="comp_date" data-width="80" data-align="center" data-sortable="true">完成时间</th>
          <th data-field="comp_author1" data-width="80" data-align="left">第一作者</th>
          <th data-field="apply_department" data-width="200" data-align="center">申报院系</th>
          <th data-field="comp_prize" data-width="100" data-align="center">获奖情况</th>
          <th data-field="apply_detail" data-width="50" data-align="center">详细查看</th>
          
        </tr>
      </thead>
    </table>
  </div>
  
 <script src="__PUBLIC__/js/HistoryItem/HistoryItem.js"></script> 

</body>

</html>