<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>竞赛报名系统</title>
  <script>
  	var compJSON = '__PUBLIC__/JSON/Comp.dat'
  </script>
  <script src="__PUBLIC__/jslib/jquery/jquery.min.js"></script>
  <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/Competition.css" />
  <script src="__PUBLIC__/js/Comp/Comp.js"></script>
</head>

<body style="background-color: #fff">
    <table id="table" class="table table-hover table-mc-light-blue" >
      <thead>
        <tr>
          <th id="c1">ID</th>
          <th id="c2">竞赛名称</th>
          <th id="c3">报名链接</th>
          <th id="c4">报名状态</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
</body>

</html>