<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ECNU Mind</title>
    <link href="__PUBLIC__/css/jquery-ui.css" rel="stylesheet">
    <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/HomePages.css" /> 
    <script> 
    	var login_url = '__URL__/login'; 
    	var register_url = '__URL__/register'
    	var public_url = '__PUBLIC__';
    </script>
    <script src="__PUBLIC__/jsLib/jquery/jquery.js"></script>
    <script src="__PUBLIC__/jsLib/jquery_ui/jquery-ui.js"></script>
    <script src="__PUBLIC__/js/home/HomeScript.js"></script>
</head>

<body>
  <div id="formbackground">  
   <img src="__PUBLIC__/img/back.jpg" style="width: auto;height: auto" alt="图片载入失败">
</div> 

<div id="Part1">
  <div id="logo">
    <div id="logo_1">ECNU</div>
    <div id="logo_2">华师</div>
    <div id="logo_3">人才项目智库</div>
  </div>

  <div id="lgn_body" class="roundedRectangle"> 
  <ul class="tabs">
    <li>
        <input type="radio" name="tabs" id="tab1" checked="" onclick="DisplayLogin()">
        <label for="tab1" style="border-top-right-radius:0px">登录</label>
    </li>
    <li>
        <input type="radio" name="tabs" id="tab2" onclick="DisplayRegister()">
        <label for="tab2" style="border-top-left-radius:0px ">注册</label>
    </li>
</ul> 
    <div style="height: 70px"></div>
    
    <form id="Login" style="visibility: visible">
       <div style="margin-top: 30px">
         <p><input id="login_user" type="text" name="user" style="text-align: left" placeholder="账号/学号/昵称" /></p>
         <p><input id="login_pwd" type="password" name="pwd" style="text-align: left;margin-top: -1px;" placeholder="密码"/></p>
       </div>
       <input id="btn_lgn" class="button" type="button" value="登录" onmouseout="OutColor(this)" onmouseover="OverColor(this)" onmousedown="DownColor(this)" onmouseup="UpColor(this)" />
       <br>
       <div id="tips" style="height: 10px"></div>
       <a href="http://www.qq.com" style="color: rgba(30,30,30,0.8);font-size: 12px;margin: -10px 0px 0px 90px;position: absolute">忘记密码？</a>
    </form>
    <form id="Register" method="post" style="visibility: hidden">
       <div style="margin-top: 30px">
         <p><input id="register_user" type="text" name="user" style="text-align: left;margin-top: -1px" placeholder="账号/学号/昵称"/></p>
         <div id="chk_user_no" style="margin: 12px 0px 0px 5px;position: absolute"></div>
         <div id="chk_user_yes" style="margin: -28px 0px 0px 320px;position: absolute"></div>
         <p id="user_tips" style="font-family: '微软雅黑';letter-spacing: 1px;font-size: 14px;color: rgba(30, 30, 30, 0.7);margin-left: 30px;margin-top: 10px;position: absolute"></p>
         <p><input id="register_pwd" type="password" name="pwd" style="text-align: left;margin-top: -1px" placeholder="密码"/></p>
         <p><input id="register_pwdre" type="password" name="pwdrepeat" style="text-align: left;margin-top: -1px" placeholder="请重复输入密码"/></p>
         <div id="chk_pwd_no" style="margin: 12px 0px 0px 5px;position: absolute"></div>
         <div id="chk_pwd_yes" style="margin: -28px 0px 0px 320px;position: absolute"></div>
         <p id="pwd_tips" style="font-family: '微软雅黑';letter-spacing: 1px;font-size: 14px;color: rgba(30, 30, 30, 0.7);margin-left: 30px;margin-top: 10px;position: absolute"></p>
         <p id="safe_tips" style="font-family: '微软雅黑';font-weight: 900;letter-spacing: 1px;font-size: 14px;color: rgba(30, 30, 30, 0.7);margin-left: 120px;margin-top: 30px;position: absolute"></p>
       </div>
       <input id="btn_reg" class="button" type="button" value="注册" onmouseout="OutColor(this)" onmouseover="OverColor(this)" onmousedown="DownColor(this)" onmouseup="UpColor(this)" />
    </form> 
  </div>
</div>

<script src="__PUBLIC__/js/home/Login.js"></script>
<script src="__PUBLIC__/js/home/Register.js"></script>
</body>

</html>

