<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>【华师智库】完善个人信息</title>
	<link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/guide.css"/>
	<script src="__PUBLIC__/jsLib/jquery/jquery.min.js"></script> 
</head>
<body>
	<div class='stepGuideHeader'>
		<h1>
			欢迎使用华师智库
			<span>在这里，让你的想法闪耀</span>
		</h1>
	</div>
	<div class='stepGuideContainer'>
		<div class='stepGuideInnerContainer'>
			<h1>您叫什么名字？</h1>
			<form stepGuide='1' class='stepGuideForm'>
				<input type='text' class='stepGuideText'>
				<input type='button' class='stepGuideSubmit next' value='→'>				
			</form>
			<form stepGuide='2' class='stepGuideForm'>
				<input type='text' class='stepGuideText'>
				<input type='button' class='stepGuideSubmit next' value='→'>				
			</form>
			<form stepGuide='3' class='stepGuideForm'>
				<input type='text' class='stepGuideText'>
				<input type='button' class='stepGuideSubmit next' value='→'>				
			</form>
			<form stepGuide='4' class='stepGuideForm'>
				<input type='text' class='stepGuideText'>
				<input type='button' class='stepGuideSubmit next' value='→'>				
			</form>
			<form stepGuide='5' class='stepGuideForm'>
				<input type='text' class='stepGuideText'>
				<input type='button' class='stepGuideSubmit next' value='→'>				
			</form>
			<form stepGuide='6' class='stepGuideForm'>
				<input type='text' class='stepGuideText'>
				<input type='button' class='stepGuideSubmit next' value='→'>				
			</form>
			<form stepGuide='7' class='stepGuideForm'>
				<input type='text' class='stepGuideText'>
				<input type='button' class='stepGuideSubmit next' value='→'>				
			</form>
			<form stepGuide='8' class='stepGuideForm'>
				<input type='text' class='stepGuideText'>
				<input type='button' class='stepGuideSubmit next' value='→'>				
			</form>
			<div class='stepGuideProgress'>
					<div class='stepGuideInProgress'> </div>
			</div>
			<div class='stepGuideInfo'>
				<span class='stepGuideError'></span>
				<span class='showStepNum'>
				<span class='stepNow'></span>/
				<span class='stepAll'></span>
				</span>
			</div>
		</div>
	</div>
	<script>
		//此变量为，总共需要几步完成整个stepGuide
		var stepGuideNum = 8;
		//当前正进行到哪个stepGuide
		var stepGuideInProgress = {$stepGuideInProgress};
	</script>
	<script src="__PUBLIC__/js/guide/guide.js"></script> 
</body>
</html>