<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ECNU Inspiration</title>
        <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
        <!-- <link rel="shortcut icon" href="favicon.ico"> -->
		<link rel="bookmark"  type="image/x-icon"  href="__PUBLIC__/img/favicon.ico">
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/nav.css" /> 
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/Person.css" />
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/radios.min.css" />
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/jsLib/jquery_ui/jquery-ui.css"/> 
        <link rel="Stylesheet" type="text/css" href="__PUBLIC__/jsLib/myAlert/myAlert.css"/>  
         <link rel="Stylesheet" type="text/css" href="__PUBLIC__/css/homeHead.css"/>  
        <link href="__PUBLIC__/css/icheck/flat/blue.css" rel="stylesheet">
        <link href="__PUBLIC__/css/icheck/line/blue.css" rel="stylesheet">
        <script src="__PUBLIC__/jsLib/jquery/Chart.js"></script>
        <script src="__PUBLIC__/jsLib/jquery/modernizr.js"></script>
        <script src="__PUBLIC__/jsLib/jquery/jquery.min.js"></script>
        <script src="__PUBLIC__/jsLib/jquery_ui/jquery-ui.js"></script>
        <script src="__PUBLIC__/jsLib/jquery/jquery.icheck.js"></script>
        <script src="__PUBLIC__/jsLib/jquery/jquery.mixitup.min.js"></script>
        <script src="__PUBLIC__/jsLib/raty-2.7.0/lib/jquery.raty.js"></script>
        <script src="__PUBLIC__/jsLib/myAlert/myAlert.js"></script>

		<script type="text/javascript">
        	var public_url = "__PUBLIC__";
        	var model_url = "__URL__";
        	var app_url = "__APP__";
    		var starOnIcon = "__PUBLIC__/jsLib/raty-2.7.0/lib/images/star-on.png"
    		var starOffIcon = "__PUBLIC__/jsLib/raty-2.7.0/lib/images/star-off.png"
    		var starHalfIcon = "__PUBLIC__/jsLib/raty-2.7.0/lib/images/star-half.png"	
        </script>
        <!--<script src="/HtmlJS/Page.js"></script>-->
    </head>

    <body>
	    <div class="Part">
		   	<div class="homeHead">
			    <ul>
				    <li id="left-li">
					    <div class='homeHeadLogo'>
					    	<a href="__APP__/Home/Home/home"><img alt="Logo" src="__PUBLIC__/img/LogoBulbSmall.png"></a>
					    </div>
					    <div class='homeHeadLogoText'>
					    	<h1>华师智库<span>Creation & Connection</span></h1>
					    </div>						    						    
				    </li>
				    <li id="right-li">
					    <ul id="sub-right-ul">
						    <li id="welcome-user">
						    </li>
						    <li id="exit-icon">
						    	<a href="__APP__/Home/Index/logout"><img alt="Exit" src="__PUBLIC__/img/icon/exit.png" title="退出登录"></a>
						    </li>
					    </ul>
				    </li>
			    </ul>
		   </div>
		    <div class="Part_inner clearfix">
		       <div class="nav">
		           <p>功能列表</p>
		           <a href="#HistoryItem" id="btn_history" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/home.png" alt="error"></div>历史项目</a>		           		           		           
		           <a href="#CurrentComp" id="btn_CurrentComp" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/ability.png" alt="error"></div>当前比赛</a>          
		           <a href="#CompControl" id="btn_CompControl" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/prjinfo.png" alt="error"></div>比赛管理</a>
		           <a href="#UserControl" id="btn_UserControl" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/find.png" alt="error"></div>用户管理</a>
		           <a href="#help" id="btn_help" class="clickble"><div class="icon"><img src="__PUBLIC__/img/icon/help.png" alt="error"></div>安全设置</a>
		       </div>
		       <div class="info_container">
		       </div>	
		       <div class="homeBottom">
		       		联系我们|智库团队版权所有 ©2015-2016
			   </div>	       
		    </div>
	    </div>
	    
		<div class='messagePopOut' style='display:none'>
         	<div class='messagePopText'>
         		
         	</div>
         	<div class='messagePopButton'>
         		OK
         	</div>        	
         </div>
	    <script src="__PUBLIC__/js/Admin/Admin.js"></script>
    </body>

</html>